body {
    background-image: url(./Assets/Background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    color: white;
    font-size: 20px;
  }

h1 {
    font-family: 'Oswald', sans-serif;
}

.small-heading {
  font-size: 24px;
}

.link-icon {
  color: white;
}

li {
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
}

.grayscale {
    filter: grayscale(100%);
  }

.link {
  color: rgb(167, 181, 245);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(167, 181, 245);
  background-color: transparent;
  text-decoration: underline;
}
