body {
  background-image: url(./Assets/Background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  color: white;
  font-size: 20px;
}

.home {
  background-image: url(./Assets/homepage_background.jpg)
}

.aboutme {
  background-image: url(./Assets/aboutme_background.jpg)
}

.portfolio {
  background-image: url(./Assets/portfolio_bg.jpg);
}

.contact {
  background-image: url(./Assets/contact_background.jpg)
}

.main-heading {
  font-family: 'Oswald', sans-serif;
  color: white;
  text-align: right;
  font-size: 5rem;
}

.blast-off {
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: right;
  font-size: 3rem;
  text-decoration: none;
  background-color: transparent;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

.small-heading {
  font-size: 24px;
}

.link-icon {
  color: white;
}

li {
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
}

.grayscale {
  filter: grayscale(100%);
}

.link {
  color: rgb(167, 181, 245);
  background-color: transparent;
  text-decoration: none;
}

.link-alt {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(167, 181, 245);
  background-color: transparent;
  text-decoration: underline;
}

.transparent {
  background-color: rgba(160, 157, 157, 0.9);
}

.opaque-navbar {
  background-color: rgba(160, 157, 157, 0.1);
}

.img-with-text {
  filter: blur(3px) opacity(70%) grayscale(50%);
}

.text-background {
  background-color: rgba(88, 86, 86, 0.9);
}

.hide {
  visibility: hidden;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container2 {
  position: relative;
  text-align: center;
  color: white;
}